:root {
  --black: #000000;
  --charcoal: #303030;
  --midnight-navy: #2f3c46;
  --slate-steel: #48494d;
  --slate-grey: #545454;
  --dark-grey: #696969;
  --platinum: #c0c0c0;
  --silvermist: #ccd5ea;
  --white: #ffffff;
  --winter-mist: #fbf8f8;
  --ruby-red: #ff0000;
  --strong-blue: #002d96;
  --sky-blue: #49B6D0;
  --main-font: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--main-font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px 16px;
}

.header__logs {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
  min-width: 250px;
}

.header__navigation {
  display: flex;
  padding: 11px 20px 11px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__bottom {
  background-color: var(--midnight-navy);
}

.header__burger,
.header__close {
  display: none;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation .contacts {
  display: none;
}

.contacts__info {
  display: flex;
  margin-right: 75px;
}

.contacts__info img {
  width: 17px;
  height: 23px;
}

.contacts__address {
  margin-left: 8px;
}

.contacts__address span {
  display: flex;
  width: max-content;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: var(--slate-grey);
}

.contacts__tel {
  display: flex;
  margin-right: 81px;
  text-decoration: none;
  align-items: center;
  color: var(--charcoal)
}

.contacts__tel img {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.contacts__button {
  display: inline-block;
  padding: 6px 20px;
  min-width: 175px;
  border: 1px solid var(--strong-blue);
  background-color: transparent;
  color: var(--strong-blue);
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid var(--strong-blue);
  cursor: pointer;
}

.model-list,
.service-options {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.model-list {
  min-width: 333px;
}

.service-options {
  width: 535px;
}

.model-list__link,
.service-options__link {
  color: var(--white);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.model-list__link:hover,
.service-options__link:hover {
  color: var(--silvermist);
  transition: .5s;
}

.contacts__tel:hover {
  color: var(--charcoal);
  transition: .5s;
}

.contacts__button:hover,
.booking-form__submit:hover {
  color: var(--winter-mist);
  background-color: var(--midnight-navy);
  transition: .5s;
}

.contacts__button:focus,
.contacts__tel:focus {
  opacity: 0.5;
}

.slick-prev-promo,
.slick-next-promo {
  position: absolute;
  padding: 0;
  width: 61px;
  height: 61px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.slick-prev-promo img,
.slick-next-promo img {
  filter: invert(1);
}

.slick-next-promo {
  right: 76px;
  top: 319px;
}

.slick-prev-promo {
  left: 76px;
  top: 319px;
  transform: rotate(180deg);
}

.promo {
  position: relative;
  width: 100%;
  min-height: 689px;
  background-image: url('../img/car-background.jpg');
  background-color: var(--midnight-navy);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 243px;
  padding: 44px 20px 27px;
}

.promo__slider {
  text-align: center;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 43px;
  font-weight: 700;
  color: var(--white);
}

.promo__title span:first-child {
  font-size: 50px;
}

.promo__title span:last-child {
  font-size: 39px;
}

.promo__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  line-height: 34px;
  line-height: 41px;
  color: var(--white);
}

.booking {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 100px;
  align-items: center;
}

.booking__paragraph {
  grid-column: 1/2;
  width: 100%;
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 700;
  color: var(--white)
}

.booking__benefits {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 75px;
  align-items: center;
  margin-top: 12px;
}

.booking__parallelogram {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 11px;
  width: 335px;
  min-height: 75px;
  color: var(--white);
  background-color: var(--silvermist);
  border-radius: 20px;
  transform: skew(-15deg);
}

.booking__parallelogram:first-child {
  padding-left: 27px;
}

.booking__parallelogram:last-child {
  width: 152px;
  margin-left: -152px;
  padding-right: 10px;
  min-height: 75px;
  background-color: var(--white);
  transform: skew(-15deg);
  border-radius: 5px 16px 16px  5px;
}

.booking__benefit--interest,
.booking__benefit--installment {
  position: relative;
  z-index: 1;
  transform: skew(15deg);
}

.booking__benefit--installment {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  width: 50%;
}

.booking__benefit--installment span {
  font-size: 26px;
}

.booking__benefit--interest {
  color: var(--strong-blue);
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
}

.booking__benefit--interest span {
  font-size: 34px;
}

.booking-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 675px;
  grid-column: 1/2;
  row-gap: 3px;
}

.booking-form__field {
  margin-right: 16px;
}

.booking-form__label {
  display: block;
}

.booking-form__input,
.booking-form__submit {
  border: none;
  padding: 18px 19px 16px;
  min-width: 330px;
  font-size: inherit;
  font-family: inherit;
}

.booking-form__input::placeholder {
  font-family: inherit;
  font-size: inherit;
}

.booking-form__submit {
  display: flex;
  justify-content: space-between;
  background-color: var(--strong-blue);
  color: var(--white);
  cursor: pointer;
}

.booking-form__submit img {
  filter: invert(1);
}

.booking-form__checkbox {
  grid-column: 2/3;
}

.checkbox {
  position: relative;
  display: block;
  font-size: 11px;
}

.checkbox__input {
  position: absolute;
  top: 1px;
  left: -2px;
  width: 13px;
  height: 13px;
  margin: 0;
  opacity: 0;
}

.checkbox__label {
  padding-left: 16px;
  cursor: pointer;
}

.checkbox__label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: -2px;
  height: 13px;
  width: 13px;
  border: 1px solid var(--white);
}

.checkbox,
.checkbox__privacy-link {
  color: var(--white);
}

.checkbox__input:focus + .checkbox__label {
  outline: 2px solid black;
  outline-offset: 2px;
}

.checkbox__input:checked + .checkbox__label::after {
  background-image: url("../img/checked-icon.svg");
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.car-models {
  position: relative;
  padding-top: 110px;
  padding-bottom: 101px;
}

.car-models__container {
  display: grid;
  grid-template-columns: 627px 466px;
  justify-content: space-between;
  padding-right: 17px;
}

.car-models__background {
  position: absolute;
  left: 26px;
  top: 118px;
  bottom: 0;
  width: 50.7%;
  height: 511px;
  margin-left: -31px;
  background-color: var(--midnight-navy);
  background-image: url('../img/sloi-mask.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.car-slider__link {
  grid-column: 3/4;
  height: min-content;
  width: min-content;
  padding: 3px 23px 0 23px;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.car-slider__link:hover,
.guarantee:hover span{
  color: var(--silvermist);
  transition: .5s;
}

.car-slider__link:focus,
.car-slider__link img:focus,
.guarantee:focus span {
  color: var(--silvermist);
  opacity: 0.5;
}

.car-slider__dots {
  display: flex;
  align-items: end;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 3/4;
  padding-right: 5px;
}

.car-slider__link img {
  filter: invert(1);
  padding-top: 4px;
}

.car-details__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 49px;
  font-weight: 400;
  line-height: 50px;
}

.car-details__title span {
  color: var(--strong-blue);
  font-weight: 700;
}

.car-details__parallelogram {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 46px;
  margin-left: 4px;
  padding: 3px 15px 3px 25px;
  width: 273px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  transform: skew(-15deg);
}

.car-details__parallelogram:hover {
  color: var(--charcoal);
  background-color: var(--silvermist);
  transition: .5s;
}

.car-details__benefit {
  transform: skew(15deg);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.car-details__benefit span {
  font-size: 24px;
}

.car-details__description {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.car-details__description span {
  font-size: 20px;
  color: var(--strong-blue);
}

.car-details__description span:last-child {
  font-size: 14px;
}

.car-slider {
  position: relative;
  display: grid;
  grid-template-rows: 120px 272px min-content;
  grid-template-columns: min-content 220px min-content;
  padding-top: 66px;
}

.car-slider__list,
.car-details__list,
.slider-dots {
  margin: 0;
  padding: 0;
  list-style: none;
}

.car-slider__slider {
  grid-column: 1/2;
  grid-row: 1/3;
  overflow: hidden;
  height: 387px;
  width: 142px;
}

.car-slider__item {
  width: 142px;
  margin-bottom: 17px;
}

.car-slider__item img {
  width: 142px;
  height: 118px;
  object-fit: cover;
  border-radius: 5px;
}

.slick-next-model,
.slick-prev-model  {
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.slick-prev-model {
  top: 29px;
  left: 55px;
  transform: rotate(-90deg);
  z-index: 20;
}

.slick-next-model {
  bottom: 31px;
  left: 56px;
  transform: rotate(90deg);
}

.slick-next-model img,
.slick-prev-model img {
  width: 30px;
  height: 30px;
  filter: invert(1);
  opacity: 0.5;
}

.car-slider__model-transporent {
  margin-left: 27px;
  grid-column: 2/4;
  grid-row: 2/3;
}

.car-slider__model-transporent,
.car-slider__model-transporent img {
  width: 457px;
  height: 260px;
}

.car-slider__model-transporent img {
  object-fit: contain;
}

.slider-dots {
  display: flex;
  justify-content: space-between;
  width: 163px;
  height: 30px;
  align-items: center;
}

.slider-dots__button {
  position: relative;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  background-color: inherit;
  cursor: pointer;
}

.slider-dots__button::before {
  position: absolute;
  left: 7px;
  top: 5px;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.slider-dots__item:first-of-type .slider-dots__button::before {
  background-color: var(--ruby-red);
}

.slider-dots__item:nth-of-type(2n) .slider-dots__button::before {
  background-color: var(--platinum);
}

.slider-dots__item:nth-of-type(3n) .slider-dots__button::before {
  background-color: var(--white);
}

.slider-dots__item:nth-of-type(4n) .slider-dots__button::before {
  background-color: var(--dark-grey);
}

.slider-dots__item:nth-of-type(5n) .slider-dots__button::before {
  background-color: var(--sky-blue);
}

.slider-dots__button--active::after {
  position: absolute;
  top: 1px;
  left: 3px;
  content: '';
  width: 26px;
  height: 26px;
  border: 1px solid var(--winter-mist);
  border-radius: 50%;
}

.car-details__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 34px;
  column-gap: 27px;
  margin-bottom: 51px;
}

.car-details__item {
  display: flex;
  align-items: center;
}

.car-details__item img {
  margin-right: 16px;
}

.car-details__item:nth-child(3n) img {
  margin-right: 11px;
}

.button {
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.car-details__button {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 17px 28px 13px 29px;
  width: 461px;

}

.car-details__button:first-of-type {
  border: 1px solid var(--black);
  transition: border-color 0.3s;
}

.car-details__button:first-of-type:hover {
  border-color: var(--strong-blue);
  color: var(--strong-blue);
}

.car-details__button:nth-of-type(2n) {
  background-color: var(--silvermist);
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.car-details__button:nth-of-type(2n):hover {
  border-color: var(--strong-blue);
  background-color: var(--silvermist);
  color: var(--strong-blue);
}

.car-details__button:nth-of-type(3n) {
  background-color: var(--strong-blue);
  transition: background-color 0.3s;
  color: var(--white);
  padding: 13px 28px 16px 36px;
}

.car-details__button:nth-of-type(3n):hover {
  background-color: var(--platinum);
  color: var(--black);
}

.car-details__button:first-of-type:focus,
.car-details__button:nth-of-type(2n):focus,
.car-details__button:nth-of-type(3n):focus {
  opacity: 0.5;
}

.car-details__button:nth-of-type(2n) img,
.car-details__button:nth-of-type(3n) img {
  filter: invert(1);
}

.car-details__button span {
  padding-left: 3px;
  font-weight: 700;
}

.car-details__button img {
  margin-left: auto;
}

.guarantee {
  position: relative;
  display: flex;
  align-items: end;
  grid-column: 2/3;
  margin-left: 34px;
  padding: 15px 0 9px 7px;
  width: 156px;
  height: 80px;
  color: var(--white);
  background-color: var(--strong-blue);
  border-radius: 20px;
  transform: skew(-11deg);
}

.guarantee__text,
.guarantee__num,
.guarantee img {
  transform: skew(11deg);
  font-weight: 800;
}

.guarantee__text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
}

.guarantee__num {
  margin-right: 8px;
  font-size: 83px;
  line-height: 65px;
}

.guarantee img {
  position: absolute;
  top: 8px;
  right: 17px;
}

.overlay {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal-window--open {
  display: flex;
}

.modal-window__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  width: 450px;
  padding: 72px 60px;
  background-color: var(--winter-mist);
  text-align: center;
  box-shadow: 0 4px 30px rgba(41,54,66,.1);
  border-radius: 5px;
  z-index: 5;
}

.modal-window__container h3 {
  margin-top: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  color: var(--slate-steel);
  margin-bottom: 50px;
}

.modal-window__field {
  margin-bottom: 20px;
}

.modal-window__field label{
  display: block;
}

.modal-window__field input {
  width: 100%;
  padding: 10px 19px 10px;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid rgba(44,46,63,.3);
  transition: border-color 3s;
  background-color: var(--white);
  color: var(--charcoal);
}

.modal-window__field input:hover {
  border-color: var(--slate-steel);
}

.modal-window__field input::placeholder {
  color: var(--slate-steel);
}

.modal-window__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.modal-window__submit {
  display: flex;
  justify-content: center;
  width: 176px;
  margin: 0 auto;
  padding: 19px 42px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  border: 0;
  background-color: var(--midnight-navy);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.modal-window__submit:hover {
  background-color: var(--silvermist);
  transition: .5s;
}

@media screen and (max-width: 1139px) {
  .header__logs img:first-child {
    margin-bottom: 12px;
  }

  .header__logs {
    flex-direction: column;
  }

  .header__burger,
  .header__close {
    position: absolute;
    align-items: center;
    border: 0;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  .header__burger {
    display: flex;
    right: 20px;
    top: -80px;
    z-index: 10;
    height: 48px;
    width: 48px;
  }

  .header__close {
    top: -83px;
    right: 25px;
    height: 23px;
    width: 23px;
    padding: 0;
    z-index: 20;
  }

  .header__close img {
    filter: invert(1);
  }

  .header__bottom {
    position: relative;
  }

  .header__navigation {
    position: absolute;
    top: -103px;
    right: 0;
    padding: 60px 40px 30px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--midnight-navy);
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
    z-index: 15;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  .header__container {
    flex-direction: column;
    padding: 20px 25px 20px;
  }

  .model-list,
  .service-options {
    flex-direction: column;
    justify-content: start;
    width: min-content;
  }

  .service-options {
    margin-bottom: 20px;
  }

  .model-list__item,
  .service-options__item {
    margin-bottom: 15px;
  }

  .promo__container {
    position: relative;
  }

  .promo__title {
    font-size: 35px;
  }

  .promo__title span:first-child {
    font-size: 42px;
  }

  .promo__title span:last-child,
  .promo__text {
    font-size: 31px;
  }

  .contacts,
  .header__navigation {
    display: none;
  }

  .contacts__tel,
  .contacts__address {
    margin-bottom: 15px;
  }

  .contacts__address span,
  .contacts__tel {
    color: var(--white);
  }

  .contacts img {
    filter: invert(1);
  }

  .contacts__button {
    color: var(--white);
    border: 1px solid var(--white);
  }

  .booking {
    column-gap: 104px;
    justify-content: center;
    grid-template-columns: min-content;
  }

  .booking,
  .booking-form {
    grid-template-columns: max-content;
  }

  .booking-form__submit,
  .booking-form__checkbox {
    grid-column: 1/2;
  }

  .booking__benefits {
    margin-top: 10px;
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .booking-form__field {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .booking-form__submit {
    margin-bottom: 20px;
  }

  .booking-form__checkbox {
    margin-bottom: 20px;
  }

  .js-nav-burger,
  .js-nav-close,
  .js-nav-menu,
  .header__navigation .contacts {
    display: flex;
  }

  .car-models {
    padding-top: 127px;
  }

  .car-models__container {
    position: relative;
    z-index: 20;
    grid-gap: 100px;
    grid-template-columns: min-content;
    justify-content: center;
    grid-gap: 45px;
  }

  .car-models__background {
    left: 31px;
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 40px;
    width: 100%;
    background-color: var(--midnight-navy);
    background-position: center;
    border-radius: 0;
  }

  .car-slider {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    padding-top: 19px;
    width: 477px;
  }

  .car-slider__slider {
    grid-row: 3/4;
    margin-bottom: 40px;
    width: 477px;
    height: auto;
  }

  .car-slider__slide {
    width: 477px;
    height: auto;
  }

  .car-slider__list {
    display: flex;
    justify-content: space-between;
    width: 477px;
    height: auto;
  }

  .car-slider__item {
    margin-bottom: 0;
  }

  .car-slider__model-transporent {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .car-slider__model-transporent img {
    width: 401px;
    height: 233px;
    margin: 0 auto;
  }

  .guarantee,
  .car-details {
    grid-column: 1/2;
  }

  .car-slider__dots {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: center;
    margin-bottom: 34px;
  }

  .car-slider__list {
    display: flex;
    justify-content: space-between;
  }

  .car-slider__link {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 20px;
  }

  .car-details__button {
    width: 100%;
  }

  .slick-next-model,
  .slick-prev-model,
  .guarantee  {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 30px;
  }

  .promo__title span:first-child {
    font-size: 34px;
  }

  .car-details__title {
    font-size: 34px;
    margin-bottom: 8px;
  }

  .promo__title span:last-child,
  .promo__text,
  .car-details__benefit span {
    font-size: 21px;
  }

  .car-details__benefit {
    font-size: 14px;
  }

  .car-details__description {
    font-size: 15px;
  }

  .car-details__description span {
    font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  .header__navigation {
    padding: 48px 21px 30px;
    width: 100%;
  }

  .car-slider {
    padding-top: 37px;
    width: 322px;
  }

  .car-slider__slider {
    margin-bottom: 0;
    width: 322px;
  }

  .car-slider__list {
    row-gap: 17px;
    margin-bottom: 60px;
    width: 330px;
  }

  .car-slider__item {
    margin-bottom: 0;
    width: 105px;
  }

  .car-slider__item img {
    width: 105px;
    height: 90px;
  }

  .car-slider__item {
    margin-bottom: 0;
  }

  .car-details__parallelogram {
    margin-left: 4px;
  }

  .car-slider__model-transporent img,
  .car-slider__model-transporent {
    margin: 0;
    width: 310px;
    height: 190px;
    object-fit: contain;
  }

  .car-slider__dots {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .booking__benefits {
    display: none;
  }

  .car-slider__slide,
  .car-slider__slider  {
    width: 330px;
  }

  .modal-window__container {
    width: 320px;
    padding: 53px 31px;
  }
}
